*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.float{
    float: left;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

body{
    padding: 2% 15%;
}

header{
    text-align: center;
    padding-bottom: 3.5%;
}

header h1{
    padding-bottom: 4%;
    font-family: 'Changa One', cursive;
    font-family: 'Mulish', sans-serif;
    font-family: 'Shantell Sans', cursive;
    color: rgb(255, 0, 140);
    font-size: 40px;
}

header p{
    font-family: sans-serif;
    font-weight: 100;
}

main{
    width: 100%;
}

main > div{
    width: calc(96%/3);
    height: 100px;
    background-color: rgb(0, 25, 58);
}

main > div.margin-bottom{
    margin-bottom: 4%;
}

main > div:not(.last){
    margin-right: 2%;
}

main img{
    height: 100%;
    margin-right: 10px;
}

.white-txt{
    color: white;
}

.blue-txt{
    color: rgb(68, 168, 255);
}

main h2{
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 10px;
}

main a{
    text-decoration: none;
}

main a:hover{
    color: white;
    text-decoration: underline;
}

main div:not(.float){
    font-family: sans-serif;
    font-size: 15px;
    margin-top: 8px;
}